
./conFusion/*~
./conFusion/*.sw[mnpcod]
./conFusion/*.log
./conFusion/*.tmp
./conFusion/*.tmp.*
./conFusion/log.txt
./conFusion/*.sublime-project
./conFusion/*.sublime-workspace
./conFusion/.vscode/
./conFusion/npm-debug.log*

./conFusion/.idea/
./conFusion/.sourcemaps/
./conFusion/.sass-cache/
./conFusion/.tmp/
./conFusion/.versions/
./conFusion/coverage/
./conFusion/dist/
./conFusion/node_modules/
./conFusion/tmp/
./conFusion/temp/
./conFusion/hooks/
./conFusion/platforms/
./conFusion/plugins/
./conFusion/plugins/android.json
./conFusion/plugins/ios.json
./conFusion/www/
./conFusion/$RECYCLE.BIN/

./conFusion/.DS_Store
./conFusion/Thumbs.db
./conFusion/UserInterfaceState.xcuserstate


./angular/doctor/node_modules
./angular/conFusionServer/node_modules
